#bodysignin
{
	background: url("Images/Background/Captain America.jpg");
	position:relative;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-right: 20%;
}

.table1
{
	border-radius:10px;
	height:80%;
	width:40%;
	background-color:;
	margin-left:80%;
	margin-top:10%;
	margin-bottom:10%;

}

.head1
{
	font-family: Arial, Helvetica, red-serif;
	font-style:;
	font-size: 60px;
	color:SteelBlue; 
}

.text1
{
	background-color:#3b444b;
	margin-left:5%;
	height:10%;
	width:90%;
	border-radius:10px;
	color:Black;
	font-weight:Bold;
	font-size:150%;
	background-color:White;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

.Sign1
{
	font-weight:Bold;
	margin-left:7%;
	border-radius:10px;
	height:10%;
	width:40%;
	background-color:#696969;
	color:#ffffff;
	font-size:150%;
}
.Sign2
{
	font-weight:Bold;
	margin-left:7%;
	border-radius:10px;
	height:10%;
	width:40%;
	background-color:#1E90FF;
	color:White;
	font-size:150%;
}

.click
{
	color:Red;
	font-weight:Bold;
}

