.BODY
{
	font-family:sans-serif;
	
}

.Content1
{
	float:left;
	font-family: monospace;
	background-color:rgba(255, 0, 0, 0);
	position:relative;
	top:300px;
    left:60px;
    padding: 40px;
    color:#A9A9A9;

}

.Content
{
	background-color: #ffffff; 
	color:#A9A9A9;
	padding: 10px;
	padding-bottom:20px;
	margin-left:60%;
	margin-right: 10%;
	margin-top:0%;
	padding-left: 10px;
	font-size: 12px;
	position: relative;
	left:6%;
	font-family: monospace;



}

h3
{
	text-align:center;
	background-color: #3b444b;
	padding:10px;
	margin: 0px;
	margin-bottom: 8px;
	font-family: monospace;

}

.textbox
{
	background-color: #696969;
	border:2px ;
	border-radius: 10px;
	font-size: 14px;
	font-family: monospace;;


}

td
{
	padding: 5px;
}

.btnsignup
{
	padding: 6px;
	border-radius: 5px;
	color:#ffffff;
	background-color: #1E90FF;
	border: 0px;
	opacity: 0.5;
}

.btnsignup:hover
{
	opacity: 1.0;
}

.btnlogin
{
	
	width:100%;
	border-radius: 5px;
	padding: 5px;
	border: 0px;
	color: #ffffff;
	background-color: #696969;
}


h2
{
	margin-bottom: 0px;
	margin-top: 0px;

}

.image
{
	opacity: 0.5;
}

.image:hover
{
	opacity: 1.0;
}