@charset "utf-8";

* {
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
    margin-top: 3.5%;
}

html, body {
    height: 100%;
}

p {
	padding-left: 1%;
}

/* Navigation Bar */

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

li.navbar {
    float: left;
}

li.navbar_right {
	float: right;
}

.active {
	background-color: #2A2A57;
}

li a.navbar, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 300;
}

/* Navigation Bar Dropdown */

li a:hover:not(.active), .dropdown:hover .dropbtn {
    background-color: #111;
    color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 300;
}

.dropdown-content a:hover {
    background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Navigation Bar Logo */
.navbar_logo {
	display:inline-block; 
	text-align: center;
    float: none;
    position: absolute;
    padding-top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
    max-width: 100%;
    max-height: 100%;
}

.navbar_logo:hover .logo{
	opacity: 0.7;
}

/* Navigation Bar Search */
.Search {        
    width: 130px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 300;
    border: 0;
    background-color: #333;
    padding: 16px 16px 12px 40px; 
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: white;
}

::placeholder{
	color: white;
	font-family: FontAwesome, 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 1px;
}

input[type=text]:focus {
    width: 100%;
}

/* ----- Footer ----- */
.footer {
   width: 100%;
   background-color: #2A2A57;
   color: white;
   font-weight: 300;
   text-align: center;
   padding: 8px;
}


/* --------------------------------------------------------------------------------------------- */
/* ----------------------------------- Index Page ---------------------------------------------- */


/* ----- Slideshow Gallery ----- */
/* Position the image container (needed to position the left and right arrows) */
.slideshow {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -100px;
  color: #2a2a57;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #2a2a57;
  color: white;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #2a2a57;
  padding: 2px 16px;
  color: white;
  margin-top: -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.container {
    position: relative;
    width: 100%;
    height: 50vh;
    top: -20px;
    text-align: center;
}

.container h1{
    padding-top: 10px;
    text-align: center;
    font-weight: 300;
}

.container p{
    text-align: center;
    font-weight: 100;
    font-size: xx-large;
}

.container a{
    text-decoration: none;
    font-weight: 500;
    color: #2a2a57;
    font-size: x-large;
    opacity: 1;
}

.container a:hover{
    text-decoration: none;
    opacity: 0.8;

}

/* ----- Image Gallery ----- */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    margin-left: 27px;
    margin-bottom: 30px;
}

div.gallery:hover {
    border: 1px solid #2a2a57;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-weight: 300;
}

/* --------------------------------------------------------------------------------------------- */
/* ---------------------------- Registration Page ---------------------------------------------- */

.background {
    background-image: url("Images/Background/Deadpool.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.Content1 {
    float:left;
    background-color:rgba(255,255,255,0.5); 

    position: fixed;
    top:200px;
    left:30px;
    padding: 40px;
    color:#000000;
    font-weight: 300;
    font-size:x-large;
}

.Content {
    margin-top: 1%;
    background-color: white; 
    color:  #000000;
    padding: 10px;
    margin-left:60%;
    margin-right: 10%;
    padding-left: 10px;
    font-size: 12px;
    position: fixed;
    left:6%;

}

h3 {
    text-align:center;
    background-color: #3b444b;
    padding:10px;
    margin: 0px;
    margin-bottom: 8px;
}

.textbox {
    background-color: #696969;
    border:2px ;
    border-radius: 10px;
    font-size: 14px;
    padding:2px;
}

td {
    padding: 5px;
}

.btnsignup {
    padding: 6px;
    border-radius: 5px;
    color:#ffffff;
    background-color: #1E90FF;
    border: 0px;
    opacity: 1;
}


.btnlogin {
    width:100%;
    border-radius: 5px;
    padding: 5px;
    border: 0px;
    color: #ffffff;
    background-color: #696969;
}

.btnlogin:hover{

    text-decoration: underline;
}


/*--------------------------------------------------------------------------------------------*/
/*---------------------------------------------- Login Page ----------------------------------*/

#bodysignin
{
    background: url("Images/Background/Captain America.jpg") no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.table1
{
   width: 25%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
}

.head1
{
    
    float: center;
    font-size: 40px
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
    
}

.text1
{
   width: 100%;
   overflow: hidden;
   font-size: 20px;
   padding: 8px 0;
   margin: 8px 0;
   border-bottom: 1px solid #4caf50;
   border: none;
   outline: none;
   font-size: 18px;
   width: 320px;
   margin: 10px;

}

.Sign1
{
    width: 100%;
    background: none;
    border: 1px solid;
    color: white;
    padding: 5px; 
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0;

}
.Sign2
{
    font-weight:Bold;
    margin-left:7%;
    border-radius:10px;
    height:10%;
    width:40%;
    background-color:#1E90FF;
    color:White;
    font-size:150%;
}

.click
{
    color:Red;
    font-weight:Bold;
}


/*--------------------------------------------------------------------------------------------*/
/*--------------------------------------- Admin & User Page ----------------------------------*/

.new_btn input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #2a2a57;
    font-size: 16px;
    font-weight: 300;
    padding: 16px 16px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; 
}

.new_btn ::placeholder{
    color: black;
    font-family: FontAwesome, 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 1px;

}

.new_btn input[type=text]:focus, select:focus {
    width: 65%;
}

.half-container {
    width: 50%;
    float: left;
}

.upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

.upload + label {
    width: 200px;
    height:40px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    line-height: 2.6em;
    text-transform: uppercase;
    text-align: center;
    background-color: #2a2a57;
    display: inline-block;
    transition: 150ms;
}

.upload:focus + label,
.upload + label:hover {
    opacity: 0.8;
    cursor:pointer;
}

.upload:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

/*--------------------------------------------------------------------------------------------*/
/*---------------------------------------------- Forgot Password ----------------------------------*/


.tableF
{
   width: 25%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: Black;
}

.textF1
{
   width: 100%;
   overflow: hidden;
   font-size: 20px;
   padding: 8px 0;
   margin: 8px 0;
   border-bottom: 1px solid #4caf50;
   border: none;
   outline: none;
   background-color: Gray;
   font-size: 18px;
   width: 320px;
   margin: 10px;

}

.SignF1
{
    width: 100%;
    background: none;
    border: 1px solid;
    color: Black;
    padding: 5px; 
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0;

}

.bodyF
{
    background: url("Images/Background/Nafeel.jpg") no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
}

/*--------------------------------------------------------------------------------------------*/
/*---------------------------------------------- Otp Page ----------------------------------*/

#bodysignin1
{
    background: url("Images/Background/FogotNoFeeling.jpg") no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.table1n
{
   width: 25%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
}

.head1n
{
    
    float: center;
    font-size: 40px
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
    
}

.textn
{
   width:100%;
   overflow: hidden;
   font-size: 20px;
   padding: 8px 0;
   margin: 8px 0;
   border-bottom: 1px solid #4caf50;
   border: none;
   outline: none;
   font-size: 18px;
   width: 400px;
   margin: 10px;

}

.Sign1n
{
    width: 100%;
    background: none;
    border: 1px solid;
    color: white;
    padding: 5px; 
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0;

}
